$main-teal: #1797A2;
$main-dark: rgb(34, 33, 33);
$main-light: rgb(218, 218, 218);
$main-med: rgb(150, 150, 150);

body {
  background-color: antiquewhite;
  font-family: "Rajdhani", Arial, Helvetica, sans-serif;
  overflow-x: hidden;
}

.headings {
  h1 {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: whitesmoke;
    padding-top: 3rem;
    font-size: 2.8rem;
    text-align: center;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    //font-weight: 400;      
    background: -webkit-linear-gradient(#eee, $main-teal);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  h2 {
    font-family: "Lato", Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: whitesmoke;
    padding-top: 3rem;
    font-size: 2.3rem;
    text-align: center;
    font-family: "Lato", Arial, Helvetica, sans-serif;
    //font-weight: 400;      
    background: -webkit-linear-gradient(#eee, $main-teal);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
  }
  h3 {
    padding-top: 2rem;
    //padding-left: 6rem;
    color: #1797A2;
  }
}
hr {
  //width: 725px;
  color:gray;
  background-color:gray;
  margin-top: 3rem;
}
.underline {
  margin: 0 auto;
  width: 60%;
  border-bottom: 1px solid $main-teal;
  text-align: center;
  position: relative;
}
.underline span {
  position: relative;
  top: 18px;
  padding: 0 10px;
  background: #fff;
  color: $main-med;
  font-size:25px;
}
.all-btn, .all-btn:active, .all-btn:visited {
  background-color: $main-teal;
  border: 1px solid $main-teal;
  color: #fff;
  
}
.all-btn:hover {
  background-color: $main-dark;
  border: 1px solid $main-dark;
  color: #609ea4;
}
.navigation {
  background-color: black;
  padding-bottom: 3rem;
  width: 100%;

  & img {
    height: 50px;
    width: auto;
  }
}
.navbar {
  background-color: $main-dark;
}
.hero {
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.296), #0e5d64),
    url('../img/semi1.jpg');
    height: 70vh;
    background-size: cover;
    color: white;
    background-attachment: fixed;
    background-position:center;

    .row {
      height: 100%;

      .col {
        color: azure;
        height: 100%;
        padding-top: 6rem;

          img {
            width: 50%;
            max-height: 45%;
          }
      }
      .col2 {
        background-color: rgb(59, 61, 61, 0.5);
      }
    }
}

.main {
  width: 100%;
  padding: 0;
  
  .contact {
    h3 {
      color: $main-teal;
    }
    p {
      padding-top: 1rem;
      font-size: 1.3rem;
      padding-bottom: 2rem;
    
    }
    .payment {

      .row {
        padding-top: 3rem;
      }

      i {
        padding-top: 1rem;
        color: $main-teal;
        padding-right: .5rem;
        padding-left: .5rem;
      }
    }

  }
  .foo {
    //padding-top: 3rem;
    //padding-bottom: 3rem;

    p {
      font-family: 'Rajdhani', Arial, Helvetica, sans-serif ;
    }
    .col1 {

      img {
        max-width: 80%;
      }
    }
  }
  .col {
    padding: 1rem;

    img {
      width: 100%;
    }
    p{
      font-size: 1.2rem;
    }
  }
  .row2 {
    width: 60%;
    margin: 0 auto;
  }

  .contact-info {
    margin: 0 auto;

    ul {
      margin-top: 3rem;
    }
    ul > li {
      font-size: 1.1rem;
      list-style: none;
    } 
    i {
      color: $main-teal;
      font-size: 1.8rem;
    }
  }
  .highlights {
    padding-top: 3rem;
    background-color: $main-dark;
    color: #fff;

    .row {
      padding-left: 3rem;
      padding-right: 3rem;

      i {
        font-size: 3rem;
      }
      h4 {
        font-size: 1.8rem;
      }
      p {
        font-family: 'Rajdhani', Arial, Helvetica, sans-serif ;
        padding: 2rem;
        font-size: 1rem;
      }
      h3, h6, ul>li {
        font-family: 'Rajdhani', Arial, Helvetica, sans-serif ;
      }
    }
  }
  .call-to-action {
    margin-bottom: 3rem;

    h4 {
      font-family: 'Rajdhani', Arial, Helvetica, sans-serif ;
      font-size: 1.1rem;
    }
    p {
      font-family: 'Rajdhani', Arial, Helvetica, sans-serif ;
      font-size: 1rem;
    }

    .row {
      width: 90%;
      margin: 0 auto;
    }
    .card {
      /* Add shadows to create the "card" effect */
      box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
      transition: 0.3s;
      border-radius: 5px; /* 5px rounded corners */

    }
    
    /* On mouse-over, add a deeper shadow */
    .card:hover {
      box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }
    
    /* Add some padding inside the card container */
    .container {
      padding: 2px 16px;
    }
    /* Add rounded corners to the top left and the top right corner of the image */
img {
  border-radius: 5px 5px 0 0;
}
  }
  button {
    
    margin: 0 auto;

    background-color: $main-teal;
    border: 2px solid rgb(160, 160, 160);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    //border-radius: 26px;
    color: #fff;

    &:hover, &:active, &:visited {
      background-color: #11676f;
      border: 2px solid lightgray;
      color: #fff;
    }
  }
  .contact-form {
    width: 200px;
    margin: 0 auto;
  }
  .shop {
    // background-image: url("../img/shop.jpg"); //linear-gradient(rgba(34, 34, 34, 0.8), rgba(0, 0, 0, 0.5)), 
    // background-repeat: no-repeat;
    // background-size: cover;
    //height: 700px;

  }
}
.work {
  margin-top: 1rem;
  
  .underline {
    margin-bottom: 3rem;
  }
  .gallery {
    width: 80%;
    margin: 0 auto;

    .headings {
      h3 {
        margin-bottom: 2rem;
      }
    }
    .row {
      margin: 0 auto;
      margin-bottom: 2rem;

      .col {
        margin-bottom: 3rem;
        img {
          width: 100%
        }
      }
    }
    .row2 {
      margin: 0 auto;
      margin-bottom: 2rem;

      .col {
        margin: 0 auto;
        margin-bottom: 3rem;
        img {
          //max-height: 400px;
          width: 100%
        }
      }

    }
  }
  .brands {
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.296), #858889),
    url('../img/brandtruck.jpg');
    //height: 70vh;
    background-size: cover;
    color: $main-dark;
    background-attachment: fixed;
    background-position:center;
    width: 100%;
    padding: 3rem;
    
    img {
      //margin: 0 auto;
      width: 35%;
    }
  }
}
.directions {
  //margin-top: 1rem;
  margin-bottom: 2rem;

  a {
    margin: auto;
    background-color: $main-teal;
    border: 2px solid rgb(160, 160, 160);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    //border-radius: 16px;
    color: #fff;

    &:hover {
      background-color: #11676f;
      border: 2px solid lightgray;
      color: #fff;
    }
    .headings {
      .underline {
        padding-bottom: 2rem;
      }
    }
  }
  .direction-button {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: 0 auto;
    width: 120px;
  }
  .map {
    margin: 0 auto;
    width: 85%;
  }
}
.other-services {
  margin: 0 auto;
  width: 60%;
  font-size: 1.5rem;

  .col1, col2 {
    margin-bottom: 0;
  }
  .col2 {
    //padding-top: 0;
  }
  .list {
    //padding: 1rem;
    ul>li {
      list-style-position: outside;
    }
  }
    
}

.footer {
  padding: 1.5rem;

  background-color: #3c3d3d;
  //height: 35vh;

  .col1 {
    border-right: 1px solid #e3fdff;
  }
  .col2 {
    color: $main-teal;
    font-size: 2.3rem;
    i {
      padding: 1.3rem;
    }
  }
  .footer-list {
    text-align: center;
    padding: 1rem;

    ul {
      list-style: none;
      font-size: 1.2rem;

      li {
        a:link {
          text-decoration: none;
          color: #1797A2;
        }
        
        a:visited {
          text-decoration: none;
          color: #1797A2;
        }
        
        a:hover {
          text-decoration: underline;
          color: #5fa3a9;
        }
        
        a:active {
          text-decoration: underline;
        }
      }
    }
  }
}
.fade-in {
  opacity: 0;
  transition: opacity 350ms ease-in;
}
.fade-in.appear {
  opacity: 1;
}

.tag-line {

  a {
    margin-bottom: 3rem;
  }
  h3 {
    padding: 3rem;
    font-family: 'Rajdhani', Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 2.3rem;
    color: $main-med;
  }
}
.faq {
  padding-bottom: 5rem;
  h1 {
    color: $main-teal;
    padding-top: 3rem;
  }

  img {
    padding-top: 3rem;

  }

  .col1 {
    padding: 5rem;

    padding-top: 0rem;
    
    //margin: 0 auto;
  }
  .col2 {
    
    background-color: #bdc1c2;
    border-radius: 25px 0px 0px 25px;
    
    h2 {
      color: $main-teal;
      font-size: 1.4rem;
    }

    ul > li {
      font-size: .9em;
    }
  }
}
.main-diy {
 
  width: 100%;
  //background-color: #0e5d64;
}